<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/mnt/oms-log/oms.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/mnt/oms-log/oms.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{200} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="ERROR"/>
	<logger name="org.hibernate" level="ERROR"/>
	<logger name="org.directwebremoting" level="ERROR"/>
	<logger name="org.apache" level="ERROR"/>
	<!-- root -->
	
	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>